// // Base grid and variables
// @import 'node_modules/bulma/sass/utilities/_all.sass';
// @import 'node_modules/bulma/sass/base/_all.sass';
// @import 'node_modules/bulma/sass/grid/columns.sass';
// @import 'node_modules/bulma/sass/layout/section.sass';

// // Components
// @import 'node_modules/bulma/sass/components/navbar.sass';
// @import 'node_modules/bulma/sass/elements/container.sass';
// @import 'node_modules/bulma/sass/elements/button.sass';

// // Form elements
// @import 'node_modules/bulma/sass/form/shared.sass';
// @import 'node_modules/bulma/sass/form/tools.sass';
// @import 'node_modules/bulma/sass/form/input-textarea.sass';

// // Theme
// @import 'theme/_general.scss';
// @import 'theme/_login.scss';

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');


html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    &.login, &.register, &.dash, &.error, &.congrats  {
        background-image: url('../assets/images/cover_mobile.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;


        .content {
            width: 90%;
        }

        @media (min-width: 680px) {
            background-image: url('../assets/images/cover_desktop.jpg');

            .content {
                width: 50%;
            }
        }
    }

    .content {
        color: white;
        
        h2 {
            font-size: 3.6rem;

        }

        h4 {
            font-size: 1.8rem;
            padding: 15px 0;
        }
        
        button {
            background: #4489f3;
            border: none;
            height: 40px;
            border-radius: 20px;
            padding: 0 30px;
            font-size: 1.2rem;
            color: white;
            margin: 10px 0;

            a {
                color:white;
                text-decoration: none;
                &:hover {
                    color:#0d3061ed;
                }
                
            }
            
            &.full {
                width: 100%;
            }
        }

        .form-group {
            margin-bottom:15px;

            input {
                margin: 10px 0;
                width: 100%;
                border: none;
                border-radius: 20px;
                height: 40px;
                font-size: 1.4rem;
                line-height: 1.4rem;
                color: #4489f3;
                padding: 5px 15px;
            }
        }

        .register-link {
            padding: 20px 0 ;
            position: relative;
            margin-top: 20px;
            text-align: center;
            font-size: .8rem;
            color: rgba(255, 255, 255, .6);

            a {
                color:rgb(62, 80, 243);
                text-decoration: none;
                &:hover {
                    color:rgb(65, 112, 241);
                }
            }

            // border: dashed tomato 1px;
            &:before {
                content: '';
                position: absolute;
                width: 80%;
                height: 1px;
                background: rgba(255, 255, 255, .2);
                top: 0;
                left:50%;
                transform: translateX(-50%);
            }
        }


    }
    
}

